@model List<ResultServiceDto>

@{
    ViewData["Title"] = "ServiceDtoList";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Service Title</th>
        <th>Service Description</th>
        <th>Delete</th>
        <th>Update</th>
        <th>Details</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ServiceIcon</td>
            <td>@item.Title</td>
            <td>@item.Description</td>
            @* <td><a href="/Service/DeleteStaff/@item.Id" class="btn mb-1 btn-danger">Delete</a></td>
            <td><a href="/Service/UpdateStaff/@item.Id" class="btn mb-1 btn-success">Update</a></td>
            <td><a href="/Service/DetailStaff/@item.Id" class="btn mb-1 btn-dark">Details</a></td> *@
        </tr>
    }
</table>
<a href="/Staff/AddStaff" class="btn mb-1 btn-rounded btn-outline-primary">Add Staff</a>