@model UpdateStaffViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<form method="post">
    <label for="">Staff Name</label>
    <input type="text" asp-for="Name" class="form-control">
    <br>
    <label for="">Staff Title</label>
    <input type="text" asp-for="Title" class="form-control">
    <br>
    <label for="">Staff SocialMedia</label>
    <input type="text" asp-for="SocialMedia1" class="form-control">
    <br>
    <button type="submit" class="btn mb-1 btn-outline-success">Update</button>

    <input type="hidden" asp-for="SocialMedia2" class="form-control">
    <input type="hidden" asp-for="SocialMedia3" class="form-control">
    <input type="hidden" asp-for="Id" class="form-control">
</form>